# Assignment 3


- Student Name: Karina Jonina
- Student ID: c00278440

- Module Name: Programming for Data Scientists
- Module Code: PROGC5201
- Module Leader: Paul Barry

- Course Name: 		Master of Science in Data Science
- Course Code:		 CW_KCDAR_M Y5

- Due Date: 10th January 2022 9:00am

In [2]:
import pandas as pd
import datetime
from os import listdir
from os.path import isfile, join
import glob
import re
from datetime import datetime

In [3]:
# gettting the CSV from the website
url = 'https://opendata-geohive.hub.arcgis.com/datasets/d8eb52d56273413b84b0187a4e9117be_0.csv?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D.'
# url = 'COVID-19.csv'
df = pd.read_csv(url)

In [4]:
# Ensuring the Date is just date, and not datetime
df['Date'] = pd.to_datetime(df['Date']).dt.date
df.head()

,X,Y,Date,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,...,CommunityTransmission,CloseContact,TravelAbroad,FID,HospitalisedAged65to74,HospitalisedAged75to84,HospitalisedAged85up,Aged65to74,Aged75to84,Aged85up
0,-7.692596,53.288234,2020-02-29,1,1,0.0,0,2020/02/27 00:00:00+00,NaN,NaN,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,-7.692596,53.288234,2020-03-03,1,2,0.0,0,2020/03/01 00:00:00+00,NaN,NaN,...,0,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN
2,-7.692596,53.288234,2020-03-04,4,6,0.0,0,2020/03/02 00:00:00+00,1.0,0.0,...,0,0,0,3,0.0,0.0,0.0,0.0,0.0,0.0
3,-7.692596,53.288234,2020-03-05,7,13,0.0,0,2020/03/03 00:00:00+00,2.0,1.0,...,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0
4,-7.692596,53.288234,2020-03-06,5,18,0.0,0,2020/03/04 00:00:00+00,5.0,4.0,...,0,0,0,5,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# examining columns and rows
df.shape

(648, 41)

In [6]:
# checking type for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   X                            648 non-null    float64
 1   Y                            648 non-null    float64
 2   Date                         648 non-null    object
 3   ConfirmedCovidCases          648 non-null    int64
 4   TotalConfirmedCovidCases     648 non-null    int64
 5   ConfirmedCovidDeaths         499 non-null    float64
 6   TotalCovidDeaths             648 non-null    int64
 7   StatisticsProfileDate        648 non-null    object
 8   CovidCasesConfirmed          646 non-null    float64
 9   HospitalisedCovidCases       646 non-null    float64
 10  RequiringICUCovidCases       646 non-null    float64
 11  HealthcareWorkersCovidCases  646 non-null    float64
 12  ClustersNotified             626 non-null    float64
 13  HospitalisedAged5            646 non-null    float64
 14  HospitalisedAged5to14        646 non-null    float64
 15  HospitalisedAged15to24       646 non-null    float64
 16  HospitalisedAged25to34       646 non-null    float64
 17  HospitalisedAged35to44       646 non-null    float64
 18  HospitalisedAged45to54       646 non-null    float64
 19  HospitalisedAged55to64       646 non-null    float64
 20  Male                         646 non-null    float64
 21  Female                       646 non-null    float64
 22  Unknown                      646 non-null    float64
 23  Aged1to4                     646 non-null    float64
 24  Aged5to14                    646 non-null    float64
 25  Aged15to24                   646 non-null    float64
 26  Aged25to34                   646 non-null    float64
 27  Aged35to44                   646 non-null    float64
 28  Aged45to54                   646 non-null    float64
 29  Aged55to64                   646 non-null    float64
 30  Median_Age                   646 non-null    float64
 31  CommunityTransmission        648 non-null    int64
 32  CloseContact                 648 non-null    int64
 33  TravelAbroad                 648 non-null    int64
 34  FID                          648 non-null    int64
 35  HospitalisedAged65to74       646 non-null    float64
 36  HospitalisedAged75to84       646 non-null    float64
 37  HospitalisedAged85up         646 non-null    float64
 38  Aged65to74                   646 non-null    float64
 39  Aged75to84                   646 non-null    float64
 40  Aged85up                     646 non-null    float64
dtypes: float64(32), int64(7), object(2)
memory usage: 207.7+ KB

In [7]:
# examining the names of the columns
df.columns

Index(['X', 'Y', 'Date', 'ConfirmedCovidCases', 'TotalConfirmedCovidCases',
       'ConfirmedCovidDeaths', 'TotalCovidDeaths', 'StatisticsProfileDate',
       'CovidCasesConfirmed', 'HospitalisedCovidCases',
       'RequiringICUCovidCases', 'HealthcareWorkersCovidCases',
       'ClustersNotified', 'HospitalisedAged5', 'HospitalisedAged5to14',
       'HospitalisedAged15to24', 'HospitalisedAged25to34',
       'HospitalisedAged35to44', 'HospitalisedAged45to54',
       'HospitalisedAged55to64', 'Male', 'Female', 'Unknown', 'Aged1to4',
       'Aged5to14', 'Aged15to24', 'Aged25to34', 'Aged35to44', 'Aged45to54',
       'Aged55to64', 'Median_Age', 'CommunityTransmission', 'CloseContact',
       'TravelAbroad', 'FID', 'HospitalisedAged65to74',
       'HospitalisedAged75to84', 'HospitalisedAged85up', 'Aged65to74',
       'Aged75to84', 'Aged85up'],
      dtype='object')

## Examining location
Below exploration showed that there are no unique locations in the dataset and therefore, redundant.

In [8]:
df['X'].unique()

array([-7.692596])

In [9]:
df['Y'].unique()

array([53.288234])

In [10]:
df['CommunityTransmission'].unique()

array([0], dtype=int64)

In [11]:
df['CloseContact'].unique()

array([0], dtype=int64)

In [12]:
df['TravelAbroad'].unique()

array([0], dtype=int64)

### Dropping Columns (X and Y)

| Column | Reason |
|---|---|
| df['X'] | no unique values |
| df['Y'] | no unique values |
| df['StatisticsProfileDate'] | Very similar to df['Date']|
| df['CovidCasesConfirmed'] | Very similar to df['Total Confirmed Covid Cases'] |
| df['FID'] | very similar to Index in pandas |
| df['CommunityTransmission'] | no unique values |
| df['CloseContact'] | no unique values |
| df['TravelAbroad'] | no unique values |

In [13]:
# Dropping irrelevant columns
df = df.drop(columns = ['X','Y','CovidCasesConfirmed','StatisticsProfileDate', 'FID', 
                        'CommunityTransmission', 'CloseContact','TravelAbroad'])

## Examining date
Below exploration showed that there are are unique dates in the dataset.

In [14]:
df['Date'].unique()

array([datetime.date(2020, 2, 29), datetime.date(2020, 3, 3),
       datetime.date(2020, 3, 4), datetime.date(2020, 3, 5),
       datetime.date(2020, 3, 6), datetime.date(2020, 3, 7),
       datetime.date(2020, 3, 8), datetime.date(2020, 3, 9),
       datetime.date(2020, 3, 10), datetime.date(2020, 3, 11),
       datetime.date(2020, 3, 12), datetime.date(2020, 3, 13),
       datetime.date(2020, 3, 14), datetime.date(2020, 3, 15),
       datetime.date(2020, 3, 16), datetime.date(2020, 3, 17),
       datetime.date(2020, 3, 18), datetime.date(2020, 3, 19),
       datetime.date(2020, 3, 20), datetime.date(2020, 3, 21),
       datetime.date(2020, 3, 22), datetime.date(2020, 3, 23),
       datetime.date(2020, 3, 24), datetime.date(2020, 3, 25),
       datetime.date(2020, 3, 26), datetime.date(2020, 3, 27),
       datetime.date(2020, 3, 28), datetime.date(2020, 3, 29),
       datetime.date(2020, 3, 30), datetime.date(2020, 3, 31),
       datetime.date(2020, 4, 1), datetime.date(2020, 4, 2),
       datetime.date(2020, 4, 3), datetime.date(2020, 4, 4),
       datetime.date(2020, 4, 5), datetime.date(2020, 4, 6),
       datetime.date(2020, 4, 7), datetime.date(2020, 4, 8),
       datetime.date(2020, 4, 9), datetime.date(2020, 4, 10),
       datetime.date(2020, 4, 11), datetime.date(2020, 4, 12),
       datetime.date(2020, 4, 13), datetime.date(2020, 4, 14),
       datetime.date(2020, 4, 15), datetime.date(2020, 4, 16),
       datetime.date(2020, 4, 17), datetime.date(2020, 4, 18),
       datetime.date(2020, 4, 19), datetime.date(2020, 4, 20),
       datetime.date(2020, 4, 21), datetime.date(2020, 4, 22),
       datetime.date(2020, 4, 23), datetime.date(2020, 4, 24),
       datetime.date(2020, 4, 25), datetime.date(2020, 4, 26),
       datetime.date(2020, 4, 27), datetime.date(2020, 4, 28),
       datetime.date(2020, 4, 29), datetime.date(2020, 4, 30),
       datetime.date(2020, 5, 1), datetime.date(2020, 5, 2),
       datetime.date(2020, 5, 3), datetime.date(2020, 5, 4),
       datetime.date(2020, 5, 5), datetime.date(2020, 5, 6),
       datetime.date(2020, 5, 7), datetime.date(2020, 5, 8),
       datetime.date(2020, 5, 9), datetime.date(2020, 5, 10),
       datetime.date(2020, 5, 11), datetime.date(2020, 5, 12),
       datetime.date(2020, 5, 13), datetime.date(2020, 5, 14),
       datetime.date(2020, 5, 15), datetime.date(2020, 5, 16),
       datetime.date(2020, 5, 17), datetime.date(2020, 5, 18),
       datetime.date(2020, 5, 19), datetime.date(2020, 5, 20),
       datetime.date(2020, 5, 21), datetime.date(2020, 5, 22),
       datetime.date(2020, 5, 23), datetime.date(2020, 5, 24),
       datetime.date(2020, 5, 25), datetime.date(2020, 5, 26),
       datetime.date(2020, 5, 27), datetime.date(2020, 5, 28),
       datetime.date(2020, 5, 29), datetime.date(2020, 5, 30),
       datetime.date(2020, 5, 31), datetime.date(2020, 6, 1),
       datetime.date(2020, 6, 2), datetime.date(2020, 6, 3),
       datetime.date(2020, 6, 4), datetime.date(2020, 6, 5),
       datetime.date(2020, 6, 6), datetime.date(2020, 6, 7),
       datetime.date(2020, 6, 8), datetime.date(2020, 6, 9),
       datetime.date(2020, 6, 10), datetime.date(2020, 6, 11),
       datetime.date(2020, 6, 12), datetime.date(2020, 6, 13),
       datetime.date(2020, 6, 14), datetime.date(2020, 6, 15),
       datetime.date(2020, 6, 16), datetime.date(2020, 6, 17),
       datetime.date(2020, 6, 18), datetime.date(2020, 6, 19),
       datetime.date(2020, 6, 20), datetime.date(2020, 6, 21),
       datetime.date(2020, 6, 22), datetime.date(2020, 6, 23),
       datetime.date(2020, 6, 24), datetime.date(2020, 6, 25),
       datetime.date(2020, 6, 26), datetime.date(2020, 6, 27),
       datetime.date(2020, 6, 28), datetime.date(2020, 6, 29),
       datetime.date(2020, 6, 30), datetime.date(2020, 7, 1),
       datetime.date(2020, 7, 2), datetime.date(2020, 7, 3),
       datetime.date(2020, 7, 4), datetime.date(2020, 7, 5),
       datetime.date(2020, 7, 6), datetime.date(2020, 7, 7),
       datetime.date(2020, 7, 8), datetime.date(2020, 7, 9),
       datetime.date(2020, 7, 10), datetime.date(2020, 7, 11),
       datetime.date(2020, 7, 12), datetime.date(2020, 7, 13),
       datetime.date(2020, 7, 14), datetime.date(2020, 7, 15),
       datetime.date(2020, 7, 16), datetime.date(2020, 7, 17),
       datetime.date(2020, 7, 18), datetime.date(2020, 7, 19),
       datetime.date(2020, 7, 20), datetime.date(2020, 7, 21),
       datetime.date(2020, 7, 22), datetime.date(2020, 7, 23),
       datetime.date(2020, 7, 24), datetime.date(2020, 7, 25),
       datetime.date(2020, 7, 26), datetime.date(2020, 7, 27),
       datetime.date(2020, 7, 28), datetime.date(2020, 7, 29),
       datetime.date(2020, 7, 30), datetime.date(2020, 7, 31),
       datetime.date(2020, 8, 1), datetime.date(2020, 8, 2),
       datetime.date(2020, 8, 3), datetime.date(2020, 8, 4),
       datetime.date(2020, 8, 5), datetime.date(2020, 8, 6),
       datetime.date(2020, 8, 7), datetime.date(2020, 8, 8),
       datetime.date(2020, 8, 9), datetime.date(2020, 8, 10),
       datetime.date(2020, 8, 11), datetime.date(2020, 8, 12),
       datetime.date(2020, 8, 13), datetime.date(2020, 8, 14),
       datetime.date(2020, 8, 15), datetime.date(2020, 8, 16),
       datetime.date(2020, 8, 17), datetime.date(2020, 8, 18),
       datetime.date(2020, 8, 19), datetime.date(2020, 8, 20),
       datetime.date(2020, 8, 21), datetime.date(2020, 8, 22),
       datetime.date(2020, 8, 23), datetime.date(2020, 8, 24),
       datetime.date(2020, 8, 25), datetime.date(2020, 8, 26),
       datetime.date(2020, 8, 27), datetime.date(2020, 8, 28),
       datetime.date(2020, 8, 29), datetime.date(2020, 8, 30),
       datetime.date(2020, 8, 31), datetime.date(2020, 9, 1),
       datetime.date(2020, 9, 2), datetime.date(2020, 9, 3),
       datetime.date(2020, 9, 4), datetime.date(2020, 9, 5),
       datetime.date(2020, 9, 6), datetime.date(2020, 9, 7),
       datetime.date(2020, 9, 8), datetime.date(2020, 9, 9),
       datetime.date(2020, 9, 10), datetime.date(2020, 9, 11),
       datetime.date(2020, 9, 12), datetime.date(2020, 9, 13),
       datetime.date(2020, 9, 14), datetime.date(2020, 9, 15),
       datetime.date(2020, 9, 16), datetime.date(2020, 9, 17),
       datetime.date(2020, 9, 18), datetime.date(2020, 9, 19),
       datetime.date(2020, 9, 20), datetime.date(2020, 9, 21),
       datetime.date(2020, 9, 22), datetime.date(2020, 9, 23),
       datetime.date(2020, 9, 24), datetime.date(2020, 9, 25),
       datetime.date(2020, 9, 26), datetime.date(2020, 9, 27),
       datetime.date(2020, 9, 28), datetime.date(2020, 9, 29),
       datetime.date(2020, 9, 30), datetime.date(2020, 10, 1),
       datetime.date(2020, 10, 2), datetime.date(2020, 10, 3),
       datetime.date(2020, 10, 4), datetime.date(2020, 10, 5),
       datetime.date(2020, 10, 6), datetime.date(2020, 10, 7),
       datetime.date(2020, 10, 8), datetime.date(2020, 10, 9),
       datetime.date(2020, 10, 10), datetime.date(2020, 10, 11),
       datetime.date(2020, 10, 12), datetime.date(2020, 10, 13),
       datetime.date(2020, 10, 14), datetime.date(2020, 10, 15),
       datetime.date(2020, 10, 16), datetime.date(2020, 10, 17),
       datetime.date(2020, 10, 18), datetime.date(2020, 10, 19),
       datetime.date(2020, 10, 20), datetime.date(2020, 10, 21),
       datetime.date(2020, 10, 22), datetime.date(2020, 10, 23),
       datetime.date(2020, 10, 24), datetime.date(2020, 10, 25),
       datetime.date(2020, 10, 26), datetime.date(2020, 10, 27),
       datetime.date(2020, 10, 28), datetime.date(2020, 10, 29),
       datetime.date(2020, 10, 30), datetime.date(2020, 10, 31),
       datetime.date(2020, 11, 1), datetime.date(2020, 11, 2),
       datetime.date(2020, 11, 3), datetime.date(2020, 11, 4),
       datetime.date(2020, 11, 5), datetime.date(2020, 11, 6),
       datetime.date(2020, 11, 7), datetime.date(2020, 11, 8),
       datetime.date(2020, 11, 9), datetime.date(2020, 11, 10),
       datetime.date(2020, 11, 11), datetime.date(2020, 11, 12),
       datetime.date(2020, 11, 13), datetime.date(2020, 11, 14),
       datetime.date(2020, 11, 15), datetime.date(2020, 11, 16),
       datetime.date(2020, 11, 17), datetime.date(2020, 11, 18),
       datetime.date(2020, 11, 19), datetime.date(2020, 11, 20),
       datetime.date(2020, 11, 21), datetime.date(2020, 11, 22),
       datetime.date(2020, 11, 23), datetime.date(2020, 11, 24),
       datetime.date(2020, 11, 25), datetime.date(2020, 11, 26),
       datetime.date(2020, 11, 27), datetime.date(2020, 11, 28),
       datetime.date(2020, 11, 29), datetime.date(2020, 11, 30),
       datetime.date(2020, 12, 1), datetime.date(2020, 12, 2),
       datetime.date(2020, 12, 3), datetime.date(2020, 12, 4),
       datetime.date(2020, 12, 5), datetime.date(2020, 12, 6),
       datetime.date(2020, 12, 7), datetime.date(2020, 12, 8),
       datetime.date(2020, 12, 9), datetime.date(2020, 12, 10),
       datetime.date(2020, 12, 11), datetime.date(2020, 12, 12),
       datetime.date(2020, 12, 13), datetime.date(2020, 12, 14),
       datetime.date(2020, 12, 15), datetime.date(2020, 12, 16),
       datetime.date(2020, 12, 17), datetime.date(2020, 12, 18),
       datetime.date(2020, 12, 19), datetime.date(2020, 12, 20),
       datetime.date(2020, 12, 21), datetime.date(2020, 12, 22),
       datetime.date(2020, 12, 23), datetime.date(2020, 12, 24),
       datetime.date(2020, 12, 25), datetime.date(2020, 12, 26),
       datetime.date(2020, 12, 27), datetime.date(2020, 12, 28),
       datetime.date(2020, 12, 29), datetime.date(2020, 12, 30),
       datetime.date(2020, 12, 31), datetime.date(2021, 1, 1),
       datetime.date(2021, 1, 2), datetime.date(2021, 1, 3),
       datetime.date(2021, 1, 4), datetime.date(2021, 1, 5),
       datetime.date(2021, 1, 6), datetime.date(2021, 1, 7),
       datetime.date(2021, 1, 8), datetime.date(2021, 1, 9),
       datetime.date(2021, 1, 10), datetime.date(2021, 1, 11),
       datetime.date(2021, 1, 12), datetime.date(2021, 1, 13),
       datetime.date(2021, 1, 14), datetime.date(2021, 1, 15),
       datetime.date(2021, 1, 16), datetime.date(2021, 1, 17),
       datetime.date(2021, 1, 18), datetime.date(2021, 1, 19),
       datetime.date(2021, 1, 20), datetime.date(2021, 1, 21),
       datetime.date(2021, 1, 22), datetime.date(2021, 1, 23),
       datetime.date(2021, 1, 24), datetime.date(2021, 1, 25),
       datetime.date(2021, 1, 26), datetime.date(2021, 1, 27),
       datetime.date(2021, 1, 28), datetime.date(2021, 1, 29),
       datetime.date(2021, 1, 30), datetime.date(2021, 1, 31),
       datetime.date(2021, 2, 1), datetime.date(2021, 2, 2),
       datetime.date(2021, 2, 3), datetime.date(2021, 2, 4),
       datetime.date(2021, 2, 5), datetime.date(2021, 2, 6),
       datetime.date(2021, 2, 7), datetime.date(2021, 2, 8),
       datetime.date(2021, 2, 9), datetime.date(2021, 2, 10),
       datetime.date(2021, 2, 11), datetime.date(2021, 2, 12),
       datetime.date(2021, 2, 13), datetime.date(2021, 2, 14),
       datetime.date(2021, 2, 15), datetime.date(2021, 2, 16),
       datetime.date(2021, 2, 17), datetime.date(2021, 2, 18),
       datetime.date(2021, 2, 19), datetime.date(2021, 2, 20),
       datetime.date(2021, 2, 21), datetime.date(2021, 2, 22),
       datetime.date(2021, 2, 23), datetime.date(2021, 2, 24),
       datetime.date(2021, 2, 25), datetime.date(2021, 2, 26),
       datetime.date(2021, 2, 27), datetime.date(2021, 2, 28),
       datetime.date(2021, 3, 1), datetime.date(2021, 3, 2),
       datetime.date(2021, 3, 3), datetime.date(2021, 3, 4),
       datetime.date(2021, 3, 5), datetime.date(2021, 3, 6),
       datetime.date(2021, 3, 7), datetime.date(2021, 3, 8),
       datetime.date(2021, 3, 9), datetime.date(2021, 3, 10),
       datetime.date(2021, 3, 11), datetime.date(2021, 3, 12),
       datetime.date(2021, 3, 13), datetime.date(2021, 3, 14),
       datetime.date(2021, 3, 15), datetime.date(2021, 3, 16),
       datetime.date(2021, 3, 17), datetime.date(2021, 3, 18),
       datetime.date(2021, 3, 19), datetime.date(2021, 3, 20),
       datetime.date(2021, 3, 21), datetime.date(2021, 3, 22),
       datetime.date(2021, 3, 23), datetime.date(2021, 3, 24),
       datetime.date(2021, 3, 25), datetime.date(2021, 3, 26),
       datetime.date(2021, 3, 27), datetime.date(2021, 3, 28),
       datetime.date(2021, 3, 29), datetime.date(2021, 3, 30),
       datetime.date(2021, 3, 31), datetime.date(2021, 4, 1),
       datetime.date(2021, 4, 2), datetime.date(2021, 4, 3),
       datetime.date(2021, 4, 4), datetime.date(2021, 4, 5),
       datetime.date(2021, 4, 6), datetime.date(2021, 4, 7),
       datetime.date(2021, 4, 8), datetime.date(2021, 4, 9),
       datetime.date(2021, 4, 10), datetime.date(2021, 4, 11),
       datetime.date(2021, 4, 12), datetime.date(2021, 4, 13),
       datetime.date(2021, 4, 14), datetime.date(2021, 4, 15),
       datetime.date(2021, 4, 16), datetime.date(2021, 4, 17),
       datetime.date(2021, 4, 18), datetime.date(2021, 4, 19),
       datetime.date(2021, 4, 20), datetime.date(2021, 4, 21),
       datetime.date(2021, 4, 22), datetime.date(2021, 4, 23),
       datetime.date(2021, 4, 24), datetime.date(2021, 4, 25),
       datetime.date(2021, 4, 26), datetime.date(2021, 4, 27),
       datetime.date(2021, 4, 28), datetime.date(2021, 4, 29),
       datetime.date(2021, 4, 30), datetime.date(2021, 5, 1),
       datetime.date(2021, 5, 2), datetime.date(2021, 5, 3),
       datetime.date(2021, 5, 4), datetime.date(2021, 5, 5),
       datetime.date(2021, 5, 6), datetime.date(2021, 5, 7),
       datetime.date(2021, 5, 8), datetime.date(2021, 5, 9),
       datetime.date(2021, 5, 10), datetime.date(2021, 5, 11),
       datetime.date(2021, 5, 12), datetime.date(2021, 5, 13),
       datetime.date(2021, 5, 14), datetime.date(2021, 5, 15),
       datetime.date(2021, 5, 16), datetime.date(2021, 5, 17),
       datetime.date(2021, 5, 18), datetime.date(2021, 5, 19),
       datetime.date(2021, 5, 20), datetime.date(2021, 5, 21),
       datetime.date(2021, 5, 22), datetime.date(2021, 5, 23),
       datetime.date(2021, 5, 24), datetime.date(2021, 5, 25),
       datetime.date(2021, 5, 26), datetime.date(2021, 5, 27),
       datetime.date(2021, 5, 28), datetime.date(2021, 5, 29),
       datetime.date(2021, 5, 30), datetime.date(2021, 5, 31),
       datetime.date(2021, 6, 1), datetime.date(2021, 6, 2),
       datetime.date(2021, 6, 3), datetime.date(2021, 6, 4),
       datetime.date(2021, 6, 5), datetime.date(2021, 6, 6),
       datetime.date(2021, 6, 7), datetime.date(2021, 6, 8),
       datetime.date(2021, 6, 9), datetime.date(2021, 6, 10),
       datetime.date(2021, 6, 11), datetime.date(2021, 6, 12),
       datetime.date(2021, 6, 13), datetime.date(2021, 6, 14),
       datetime.date(2021, 6, 15), datetime.date(2021, 6, 16),
       datetime.date(2021, 6, 17), datetime.date(2021, 6, 18),
       datetime.date(2021, 6, 19), datetime.date(2021, 6, 20),
       datetime.date(2021, 6, 21), datetime.date(2021, 6, 22),
       datetime.date(2021, 6, 23), datetime.date(2021, 6, 24),
       datetime.date(2021, 6, 25), datetime.date(2021, 6, 26),
       datetime.date(2021, 6, 27), datetime.date(2021, 6, 28),
       datetime.date(2021, 6, 29), datetime.date(2021, 6, 30),
       datetime.date(2021, 7, 1), datetime.date(2021, 7, 2),
       datetime.date(2021, 7, 3), datetime.date(2021, 7, 4),
       datetime.date(2021, 7, 5), datetime.date(2021, 7, 6),
       datetime.date(2021, 7, 7), datetime.date(2021, 7, 8),
       datetime.date(2021, 7, 9), datetime.date(2021, 7, 10),
       datetime.date(2021, 7, 11), datetime.date(2021, 7, 12),
       datetime.date(2021, 7, 13), datetime.date(2021, 7, 14),
       datetime.date(2021, 7, 15), datetime.date(2021, 7, 16),
       datetime.date(2021, 7, 17), datetime.date(2021, 7, 18),
       datetime.date(2021, 7, 19), datetime.date(2021, 7, 20),
       datetime.date(2021, 7, 21), datetime.date(2021, 7, 22),
       datetime.date(2021, 7, 23), datetime.date(2021, 7, 24),
       datetime.date(2021, 7, 25), datetime.date(2021, 7, 26),
       datetime.date(2021, 7, 27), datetime.date(2021, 7, 28),
       datetime.date(2021, 7, 29), datetime.date(2021, 7, 30),
       datetime.date(2021, 7, 31), datetime.date(2021, 8, 1),
       datetime.date(2021, 8, 2), datetime.date(2021, 8, 3),
       datetime.date(2021, 8, 4), datetime.date(2021, 8, 5),
       datetime.date(2021, 8, 6), datetime.date(2021, 8, 7),
       datetime.date(2021, 8, 8), datetime.date(2021, 8, 9),
       datetime.date(2021, 8, 10), datetime.date(2021, 8, 11),
       datetime.date(2021, 8, 12), datetime.date(2021, 8, 13),
       datetime.date(2021, 8, 14), datetime.date(2021, 8, 15),
       datetime.date(2021, 8, 16), datetime.date(2021, 8, 17),
       datetime.date(2021, 8, 18), datetime.date(2021, 8, 19),
       datetime.date(2021, 8, 20), datetime.date(2021, 8, 21),
       datetime.date(2021, 8, 22), datetime.date(2021, 8, 23),
       datetime.date(2021, 8, 24), datetime.date(2021, 8, 25),
       datetime.date(2021, 8, 26), datetime.date(2021, 8, 27),
       datetime.date(2021, 8, 28), datetime.date(2021, 8, 29),
       datetime.date(2021, 8, 30), datetime.date(2021, 8, 31),
       datetime.date(2021, 9, 1), datetime.date(2021, 9, 2),
       datetime.date(2021, 9, 3), datetime.date(2021, 9, 4),
       datetime.date(2021, 9, 5), datetime.date(2021, 9, 6),
       datetime.date(2021, 9, 7), datetime.date(2021, 9, 8),
       datetime.date(2021, 9, 9), datetime.date(2021, 9, 10),
       datetime.date(2021, 9, 11), datetime.date(2021, 9, 12),
       datetime.date(2021, 9, 13), datetime.date(2021, 9, 14),
       datetime.date(2021, 9, 15), datetime.date(2021, 9, 16),
       datetime.date(2021, 9, 17), datetime.date(2021, 9, 18),
       datetime.date(2021, 9, 19), datetime.date(2021, 9, 20),
       datetime.date(2021, 9, 21), datetime.date(2021, 9, 22),
       datetime.date(2021, 9, 23), datetime.date(2021, 9, 24),
       datetime.date(2021, 9, 25), datetime.date(2021, 9, 26),
       datetime.date(2021, 9, 27), datetime.date(2021, 9, 28),
       datetime.date(2021, 9, 29), datetime.date(2021, 9, 30),
       datetime.date(2021, 10, 1), datetime.date(2021, 10, 2),
       datetime.date(2021, 10, 3), datetime.date(2021, 10, 4),
       datetime.date(2021, 10, 5), datetime.date(2021, 10, 6),
       datetime.date(2021, 10, 7), datetime.date(2021, 10, 8),
       datetime.date(2021, 10, 9), datetime.date(2021, 10, 10),
       datetime.date(2021, 10, 11), datetime.date(2021, 10, 12),
       datetime.date(2021, 10, 13), datetime.date(2021, 10, 14),
       datetime.date(2021, 10, 15), datetime.date(2021, 10, 16),
       datetime.date(2021, 10, 17), datetime.date(2021, 10, 18),
       datetime.date(2021, 10, 19), datetime.date(2021, 10, 20),
       datetime.date(2021, 10, 21), datetime.date(2021, 10, 22),
       datetime.date(2021, 10, 23), datetime.date(2021, 10, 24),
       datetime.date(2021, 10, 25), datetime.date(2021, 10, 26),
       datetime.date(2021, 10, 27), datetime.date(2021, 10, 28),
       datetime.date(2021, 10, 29), datetime.date(2021, 10, 30),
       datetime.date(2021, 10, 31), datetime.date(2021, 11, 1),
       datetime.date(2021, 11, 2), datetime.date(2021, 11, 3),
       datetime.date(2021, 11, 4), datetime.date(2021, 11, 5),
       datetime.date(2021, 11, 6), datetime.date(2021, 11, 7),
       datetime.date(2021, 11, 8), datetime.date(2021, 11, 9),
       datetime.date(2021, 11, 10), datetime.date(2021, 11, 11),
       datetime.date(2021, 11, 12), datetime.date(2021, 11, 13),
       datetime.date(2021, 11, 14), datetime.date(2021, 11, 15),
       datetime.date(2021, 11, 16), datetime.date(2021, 11, 17),
       datetime.date(2021, 11, 18), datetime.date(2021, 11, 19),
       datetime.date(2021, 11, 20), datetime.date(2021, 11, 21),
       datetime.date(2021, 11, 22), datetime.date(2021, 11, 23),
       datetime.date(2021, 11, 24), datetime.date(2021, 11, 25),
       datetime.date(2021, 11, 26), datetime.date(2021, 11, 27),

## Melting

In [15]:
# Melting
id_vars = ["Date"]

df = pd.melt(frame=df,id_vars=id_vars, var_name="Column", value_name="Cases")

df.head(10)

         Date               Column  Cases
0  2020-02-29  ConfirmedCovidCases    1.0
1  2020-03-03  ConfirmedCovidCases    1.0
2  2020-03-04  ConfirmedCovidCases    4.0
3  2020-03-05  ConfirmedCovidCases    7.0
4  2020-03-06  ConfirmedCovidCases    5.0
5  2020-03-07  ConfirmedCovidCases    1.0
6  2020-03-08  ConfirmedCovidCases    2.0
7  2020-03-09  ConfirmedCovidCases    3.0
8  2020-03-10  ConfirmedCovidCases   10.0
9  2020-03-11  ConfirmedCovidCases    9.0

# Getting the final dataset

In [16]:
df.head()

         Date               Column  Cases
0  2020-02-29  ConfirmedCovidCases    1.0
1  2020-03-03  ConfirmedCovidCases    1.0
2  2020-03-04  ConfirmedCovidCases    4.0
3  2020-03-05  ConfirmedCovidCases    7.0
4  2020-03-06  ConfirmedCovidCases    5.0

In [17]:
df['Age_Range'] = df['Column']
df.tail()

             Date    Column   Cases Age_Range
20731  2021-12-05  Aged85up  9786.0  Aged85up
20732  2021-12-06  Aged85up  9797.0  Aged85up
20733  2021-12-07  Aged85up  9808.0  Aged85up
20734  2021-12-08  Aged85up  9826.0  Aged85up
20735  2021-12-09  Aged85up  9834.0  Aged85up

In [18]:
df['Age_Range'] = df['Age_Range'].str.replace('to','-')

In [19]:
df['Age_Range']= df['Age_Range'].str.replace('up','+')

In [20]:
df['Age_Range']

0        ConfirmedCovidCases
1        ConfirmedCovidCases
2        ConfirmedCovidCases
3        ConfirmedCovidCases
4        ConfirmedCovidCases
                ...
20731                Aged85+
20732                Aged85+
20733                Aged85+
20734                Aged85+
20735                Aged85+
Name: Age_Range, Length: 20736, dtype: object

In [21]:
import numpy as np
df['Age_Range']= df['Age_Range'].replace("TotalConfirmedCovidCases", np.nan)
df['Age_Range']= df['Age_Range'].replace("ConfirmedCovidCases",np.nan)
df['Age_Range']= df['Age_Range'].replace("TotalCovidDeaths", np.nan)
df['Age_Range']= df['Age_Range'].replace("ConfirmedCovidDeaths",np.nan)
df['Age_Range']= df['Age_Range'].replace("HospitalisedCovidCases", np.nan)
df['Age_Range']= df['Age_Range'].replace("RequiringICUCovidCases", np.nan)
df['Age_Range']= df['Age_Range'].replace("HealthcareWorkersCovidCases", np.nan)
df['Age_Range']= df['Age_Range'].replace("ClustersNotified", np.nan)
df['Age_Range']= df['Age_Range'].str.replace("Aged", '')

df['Age_Range']= df['Age_Range'].str.replace("Hospitalised5", '1-4')
df['Age_Range']= df['Age_Range'].str.replace("Hospitalised", '')
df['Age_Range']= df['Age_Range'].replace("Median_Age", np.nan)
df['Age_Range']= df['Age_Range'].replace("Male", np.nan)
df['Age_Range']= df['Age_Range'].replace("Female", np.nan)
df['Age_Range']= df['Age_Range'].replace("Female", np.nan)

df['Age_Range']= df['Age_Range'].replace("Unknown",np.nan)

In [22]:
df["Age_Range"].unique()

array([nan, '1-4', '1-4-14', '15-24', '25-34', '35-44', '45-54',
       '1-45-64', '5-14', '55-64', '65-74', '75-84', '85+'], dtype=object)

In [ ]:
df.head()

In [ ]:
df = df [[
    "Date",
    "Column",
    "Age_Range",
    "Cases"
]]

In [ ]:
df.head()

In [ ]:
# checking that 'HospitalisedAged5' with have 5
df[df["Column"] =='HospitalisedAged5'].head()

In [ ]:
# checking that 'HospitalisedAged85up' with have 85
df[df["Column"] =='HospitalisedAged85up'].head()

### Dropping rows with NaN in cases

In [ ]:
df.head(20)

In [ ]:
df = df[~df['Cases'].isna()]
df["Cases"] = df["Cases"].astype(int)
# reseting the dataframe index
df = df.reset_index(drop = True)

In [ ]:
df.head()

In [ ]:
df.shape

### Dealing with ['Column'] column

In [ ]:
# Testing the regular expression
line = 'HospitalisedAged45to54'
match = re.findall('([A-Z][a-z]+)', line)
new_line = match[0] + " " + match[1] 
print(new_line)

In [ ]:
column_list = []
for i in  df["Column"]:
    match = re.findall('([A-Z][a-z]+)', i)
    if len(match) == 4:
        new_line = match[0] + ' ' + match[1] + ' ' + match[2] + ' ' + match[3]
    elif len(match) == 3:
        new_line = match[0] + ' ' + match[1] + ' ' + match[2]
    elif len(match) == 2:
        new_line = match[0] + ' ' + match[1] 
    else:
        new_line = match[0]

    column_list.append(new_line)

# examining the list
print(column_list)

In [ ]:
column_list = pd.Series(column_list)
column_list = column_list.reset_index()

In [ ]:
df = pd.merge(df, column_list, left_index = True, right_index = True)

In [ ]:
df = df.rename(columns={'Column': "old_column", 0 : "Column"})

In [ ]:
df = df[[
    "Date",
    "old_column",
    "Column",
    "Age_Range",
    "Cases"
]]

In [ ]:
df.head()

### Daily Cases

In [ ]:
hospitalised_df = df[df['Column'].str.contains("Hospitalised Aged")]
age_range_65up = hospitalised_df[hospitalised_df['Age_Range'] == '65-74']
age_range_65up.tail(10)

In [ ]:
aged_df = df[df['Column'].str.startswith("Aged")]
aged_df.tail(50)

In [ ]:
age_list = ['0-4' '5-14' '15-24' '25-34' '35-44' '45-54' '55-64', '1-4' '65-74', '75-84' '85+']

# removing NaN from the dataset
age_list = age_list[1:]
print(age_list)

### Columns that are Not Accumulated
'Confirmed Covid Cases', 'Total Confirmed Covid Cases','Confirmed Covid Deaths', 'Total Covid Deaths',

In [ ]:
df['Column'].unique()

In [ ]:
column_list = ['Confirmed Covid Cases', 'Total Confirmed Covid Cases',
       'Confirmed Covid Deaths', 'Total Covid Deaths',
       'Hospitalised Covid Cases', 'Requiring Covid Cases',
       'Healthcare Workers Covid Cases', 'Clusters Notified',
       'Hospitalised Aged', 'Male', 'Female', 'Unknown', 'Aged',
       'Median Age']
column_list

In [ ]:
# Columns that have accumulated cases and no daily cases count 
accumulated = ['Male','Hospitalised Covid Cases', 'Hospitalised Aged', 
               'Healthcare Workers Covid Cases', 'Aged', 'Unknown', 'Female',
               'Median Age', 'Requiring Covid Cases', 'Clusters Notified']

In [ ]:
df1_list = []
df1 = pd.DataFrame()
for i in column_list:
    if "Hospitalised Aged" == i: 
        for age in age_list:
            df1 = hospitalised_df[hospitalised_df['Age_Range'].str.contains(age)]
            df1 = pd.DataFrame(df1)
            df1['Daily Cases'] = df1['Cases'].diff(1)
            df1 = df1.dropna()
            df1["Daily Cases"] = df1["Daily Cases"].astype(int)
            df1_list.append(df1)
        
    elif "Aged" == i: 
        for age in age_list:
            df1 = aged_df[aged_df['Age_Range'].str.contains(age)]
            df1 = pd.DataFrame(df1)
            df1['Daily Cases'] = df1['Cases'].diff(1)
            df1 = df1.dropna()
            df1["Daily Cases"] = df1["Daily Cases"].astype(int)
            df1_list.append(df1)
    
    elif  i in accumulated:
        df1 = df[df['Column'].str.contains(i)]
        df1 = pd.DataFrame(df1)
        df1['Daily Cases'] = df1['Cases'].diff(1)
#         df1 = df1.dropna()
#         df1["Daily Cases"] = df1["Daily Cases"].astype(int)
        df1_list.append(df1)
    else:
        df1 = df[df['Column'].str.contains(i)]
        df1 = pd.DataFrame(df1)
        df1['Daily Cases'] = 'NaN'
#         df1 = df1.dropna()
#         df1["Daily Cases"] = df1["Daily Cases"].astype(int)
        df1_list.append(df1)

In [ ]:
new_df =  pd.concat(df1_list)
# sorting data by date
new_df = new_df.sort_values(ascending = True, by = ["Date"])

# reseting the dataframe index
new_df = new_df.reset_index(drop=True)
new_df.head(50)

df =  pd.concat(df_list)

# sorting data by date
df = df.sort_values(ascending = True, by = ["Date"])

# reseting the dataframe index
df = df.reset_index(drop=True)

In [ ]:
df.head(50)

In [ ]:
df.tail(50)

# replacing all Nan with 0
df['Daily Cases'] = df['Daily Cases'].fillna(0)
df['Diff'] = df['Diff'].fillna(0)

#changing the 0.0 to 0
df['Daily Cases'] = df['Daily Cases'].astype(int)
df['Diff'] = df['Diff'].astype(int)

df.head()

### Saving to a new csv file

In [ ]:
new_df.to_csv(r"tidy_data_df.csv", index =  False)