# Assignment 3


- Student Name: Karina Jonina
- Student ID: c00278440

- Module Name: Programming for Data Scientists
- Module Code: PROGC5201
- Module Leader: Paul Barry

- Course Name: 		Master of Science in Data Science
- Course Code:		 CW_KCDAR_M Y5

- Due Date: 10th January 2022 9:00am

In [1]:
import pandas as pd
import datetime
from os import listdir
from os.path import isfile, join
import glob
import re
from datetime import datetime

In [2]:
# gettting the CSV from the website
url = 'https://opendata-geohive.hub.arcgis.com/datasets/d8eb52d56273413b84b0187a4e9117be_0.csv?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D.'

df = pd.read_csv(url, parse_dates = ["Date"])

In [3]:
df.head()

,X,Y,Date,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,...,CommunityTransmission,CloseContact,TravelAbroad,FID,HospitalisedAged65to74,HospitalisedAged75to84,HospitalisedAged85up,Aged65to74,Aged75to84,Aged85up
0,-7.692596,53.288234,2020-02-29 00:00:00+00:00,1,1,0.0,0,2020/02/27 00:00:00+00,NaN,NaN,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,-7.692596,53.288234,2020-03-03 00:00:00+00:00,1,2,0.0,0,2020/03/01 00:00:00+00,NaN,NaN,...,0,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN
2,-7.692596,53.288234,2020-03-04 00:00:00+00:00,4,6,0.0,0,2020/03/02 00:00:00+00,1.0,0.0,...,0,0,0,3,0.0,0.0,0.0,0.0,0.0,0.0
3,-7.692596,53.288234,2020-03-05 00:00:00+00:00,7,13,0.0,0,2020/03/03 00:00:00+00,2.0,1.0,...,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0
4,-7.692596,53.288234,2020-03-06 00:00:00+00:00,5,18,0.0,0,2020/03/04 00:00:00+00,5.0,4.0,...,0,0,0,5,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# examiningcolumnsand rows
df.shape

(644, 41)

In [5]:
# checking type for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   X                            644 non-null    float64
 1   Y                            644 non-null    float64
 2   Date                         644 non-null    datetime64[ns, UTC]
 3   ConfirmedCovidCases          644 non-null    int64
 4   TotalConfirmedCovidCases     644 non-null    int64
 5   ConfirmedCovidDeaths         498 non-null    float64
 6   TotalCovidDeaths             644 non-null    int64
 7   StatisticsProfileDate        644 non-null    object
 8   CovidCasesConfirmed          642 non-null    float64
 9   HospitalisedCovidCases       642 non-null    float64
 10  RequiringICUCovidCases       642 non-null    float64
 11  HealthcareWorkersCovidCases  642 non-null    float64
 12  ClustersNotified             622 non-null    float64
 13  HospitalisedAged5            642 non-null    float64
 14  HospitalisedAged5to14        642 non-null    float64
 15  HospitalisedAged15to24       642 non-null    float64
 16  HospitalisedAged25to34       642 non-null    float64
 17  HospitalisedAged35to44       642 non-null    float64
 18  HospitalisedAged45to54       642 non-null    float64
 19  HospitalisedAged55to64       642 non-null    float64
 20  Male                         642 non-null    float64
 21  Female                       642 non-null    float64
 22  Unknown                      642 non-null    float64
 23  Aged1to4                     642 non-null    float64
 24  Aged5to14                    642 non-null    float64
 25  Aged15to24                   642 non-null    float64
 26  Aged25to34                   642 non-null    float64
 27  Aged35to44                   642 non-null    float64
 28  Aged45to54                   642 non-null    float64
 29  Aged55to64                   642 non-null    float64
 30  Median_Age                   642 non-null    float64
 31  CommunityTransmission        644 non-null    int64
 32  CloseContact                 644 non-null    int64
 33  TravelAbroad                 644 non-null    int64
 34  FID                          644 non-null    int64
 35  HospitalisedAged65to74       642 non-null    float64
 36  HospitalisedAged75to84       642 non-null    float64
 37  HospitalisedAged85up         642 non-null    float64
 38  Aged65to74                   642 non-null    float64
 39  Aged75to84                   642 non-null    float64
 40  Aged85up                     642 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(32), int64(7), object(1)
memory usage: 206.4+ KB

In [ ]:
# examining the names of the columns
df.columns

In [ ]:
# changing StatisticsProfileDate to datetime 
df["StatisticsProfileDate"] #= pd.to_datetime(df["StatisticsProfileDate"], errors='ignore')

## Examining location
Below exploration showed that there are no unique locations in the dataset and therefore, redundant.

In [ ]:
df['X'].unique()

In [ ]:
df['Y'].unique()

## Examining date
Below exploration showed that there are are unique dates in the dataset.

In [ ]:
df['Date'].unique()

In [ ]:
df.head()

## Melting

In [ ]:
# Melting
id_vars = ["X","Y","Date"]

df = pd.melt(frame=df,id_vars=id_vars, var_name="column", value_name="cases")

df.head(10)

### Dropping cases

In [ ]:
df = df[[
    "Date",
    "column",
    "cases"
    
]]

In [ ]:
df.head()

# Hospitalisations

In [ ]:
hospitalised_df = df[df['column'].str.contains("Hospitalised")]
hospitalised_df.head()

In [ ]:
hospitalised_df['column'].unique()

In [ ]:
#hospitalised_df.iloc[:,1] = hospitalised_df.iloc[:,1].str.lstrip("Hospitalised")

In [ ]:
hospitalised_df['column'].tail()

In [ ]:
hospitalised_df['column'].unique()

In [ ]:
test = "Aged5to14"

match = re.search("(\D+)(\d+)(\D{2})(\d{2})", test)
print(match[0])
print(match[1]) # Aged
print(match[2]) # 5
print(match[3]) # to
print(match[4]) # 14
print()

In [ ]:
hospitalised_df["column"]

In [ ]:
tmp_df = hospitalised_df["column"].str.extract("(\D+)(\d+)(\D{2})(\d{2})", expand=False)    


# Name columns
tmp_df.columns = ["Aged", "age_lower","to", "age_upper"]

# Create `age`column based on `age_lower` and `age_upper`
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

tmp_df.head(15)

In [ ]:
# Merge 
hospitalised_df = pd.concat([hospitalised_df, tmp_df], axis=1)

# Drop unnecessary columns and rows
hospitalised_df = hospitalised_df.drop(['column',"age_lower","to","age_upper" ], axis=1)
hospitalised_df = hospitalised_df.dropna()
hospitalised_df = hospitalised_df.sort_values(ascending = True,by = ["Date"])
hospitalised_df["cases"] = hospitalised_df["cases"].astype(int)

In [ ]:

hospitalised_df["Aged"] = hospitalised_df["Aged"].str.rstrip("Aged")
hospitalised_df.head(25)

# Ages

In [ ]:
aged_df = df[df["column"].str.contains("^Aged")]

In [ ]:
aged_df.head()

In [ ]:
aged_df["column"].unique()

In [ ]:
test = "Aged1to4"

match = re.search("(\D+)(\d+)(\D{2})(\d)", test)
print(match[0])
print(match[1]) # Aged
print(match[2]) # number 
print(match[3]) # to
print(match[4]) # number
print()



test = "Aged35to44"

# incorrectly drops the 
match = re.search("(\D+)(\d+)(\D{2})(\d+)", test)
print(match[0])
print(match[1]) # Aged
print(match[2]) # number 
print(match[3]) # to
print(match[4]) # number
print()

In [ ]:
tmp_df = aged_df["column"].str.extract("(\D+)(\d+)(\D{2})(\d+)", expand=False)    


# Name columns
tmp_df.columns = ["Aged", "age_lower","to", "age_upper"]

# Create `age`column based on `age_lower` and `age_upper`
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

tmp_df.head(15)

In [ ]:
# Merge 
aged_df = pd.concat([aged_df, tmp_df], axis=1)

# Drop unnecessary columns and rows
aged_df = aged_df.drop(['column',"age_lower","to","age_upper" ], axis=1)
aged_df = aged_df.dropna()
aged_df = aged_df.sort_values(ascending = True,by = ["Date"])
aged_df["cases"] = aged_df["cases"].astype(int)
aged_df.head(25)

### Getting the final DF

In [ ]:
# Merge 
df = pd.merge(df, aged_df, on=["Date"])
df = pd.merge(df, hospitalised_df, on=["Date"])

# Drop unnecessary columns and rows
df = df.sort_values(ascending = True,by = ["Date"])
df["cases"] = df["cases"].astype(int)
df.head(25)

# Different

In [ ]:
df1 = df.copy()
df1.head()



for i in df1['column']:
    if "Hospitalised" in i:
        tmp_df = i.extract("(\D+)(\d+)(\D{2})(\d+)", expand=False)  
        print(tmp_df)
    else:
        print("off")

In [ ]:
tmp_df = df1["column"].str.extract("(\D+)(\d+)(\D{2})(\d{2})", expand=False)    


# Name columns
tmp_df.columns = ["Aged", "age_lower","to", "age_upper"]

# Create `age`column based on `age_lower` and `age_upper`
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

tmp_df.head(15)

In [ ]:
# Merge 
df1 = pd.concat([df1, tmp_df], axis=1)

# Drop unnecessary columns and rows
df1 = df1.drop(["age_lower","to","age_upper" ], axis=1)
# df1 = df1.dropna()
df1 = df1.sort_values(ascending = True,by = ["Date"])
# df1["cases"] = df1["cases"].astype(int)
df1.head(25)

In [ ]:
df1.tail(50)

In [ ]:
line = 'TravelAbroad'
re.findall('([A-Z][a-z]+)', line)

In [ ]:
df1["column"] = df1["column"].str.extract("([A-Z][a-z]+)", expand=False)    


# # Name columns
# tmp_df.columns = ["Aged", "age_lower","to", "age_upper"]

# # Create `age`column based on `age_lower` and `age_upper`
# tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

df1.head(15)

In [ ]:
df1 = df1 [[
    "Date",
    "column",
    "age",
    "cases"
]]

In [ ]:
df1.head(50)

In [ ]:
#df.to_csv(r"df.csv", index =  False)