# Assignment 3


- Student Name: Karina Jonina
- Student ID: c00278440

- Module Name: Programming for Data Scientists
- Module Code: PROGC5201
- Module Leader: Paul Barry

- Course Name: 		Master of Science in Data Science
- Course Code:		 CW_KCDAR_M Y5

- Due Date: 10th January 2022 9:00am

In [1]:
import pandas as pd
import datetime
from os import listdir
from os.path import isfile, join
import glob
import re

In [26]:
# gettting the CSV from the website
url = 'https://opendata-geohive.hub.arcgis.com/datasets/d8eb52d56273413b84b0187a4e9117be_0.csv?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D'
df = pd.read_csv(url)

In [27]:
df.head()

,X,Y,Date,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,...,CommunityTransmission,CloseContact,TravelAbroad,FID,HospitalisedAged65to74,HospitalisedAged75to84,HospitalisedAged85up,Aged65to74,Aged75to84,Aged85up
0,-856335.869598,7.036492e+06,2020/02/29 00:00:00+00,1,1,0.0,0,2020/02/27 00:00:00+00,NaN,NaN,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,-856335.869598,7.036492e+06,2020/03/03 00:00:00+00,1,2,0.0,0,2020/03/01 00:00:00+00,NaN,NaN,...,0,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN
2,-856335.869598,7.036492e+06,2020/03/04 00:00:00+00,4,6,0.0,0,2020/03/02 00:00:00+00,1.0,0.0,...,0,0,0,3,0.0,0.0,0.0,0.0,0.0,0.0
3,-856335.869598,7.036492e+06,2020/03/05 00:00:00+00,7,13,0.0,0,2020/03/03 00:00:00+00,2.0,1.0,...,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0
4,-856335.869598,7.036492e+06,2020/03/06 00:00:00+00,5,18,0.0,0,2020/03/04 00:00:00+00,5.0,4.0,...,0,0,0,5,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
# examiningcolumnsand rows
df.shape

(644, 41)

In [29]:
# examining the names of the columns
df.columns

Index(['X', 'Y', 'Date', 'ConfirmedCovidCases', 'TotalConfirmedCovidCases',
       'ConfirmedCovidDeaths', 'TotalCovidDeaths', 'StatisticsProfileDate',
       'CovidCasesConfirmed', 'HospitalisedCovidCases',
       'RequiringICUCovidCases', 'HealthcareWorkersCovidCases',
       'ClustersNotified', 'HospitalisedAged5', 'HospitalisedAged5to14',
       'HospitalisedAged15to24', 'HospitalisedAged25to34',
       'HospitalisedAged35to44', 'HospitalisedAged45to54',
       'HospitalisedAged55to64', 'Male', 'Female', 'Unknown', 'Aged1to4',
       'Aged5to14', 'Aged15to24', 'Aged25to34', 'Aged35to44', 'Aged45to54',
       'Aged55to64', 'Median_Age', 'CommunityTransmission', 'CloseContact',
       'TravelAbroad', 'FID', 'HospitalisedAged65to74',
       'HospitalisedAged75to84', 'HospitalisedAged85up', 'Aged65to74',
       'Aged75to84', 'Aged85up'],
      dtype='object')

### Melting

In [5]:
# Melting
id_vars = ["X","Y","Date"]

df = pd.melt(frame=df,id_vars=id_vars, var_name="column", value_name="cases")

df.head(10)

,X,Y,Date,column,cases
0,-856335.869598,7.036492e+06,2020/02/29 00:00:00+00,ConfirmedCovidCases,1
1,-856335.869598,7.036492e+06,2020/03/03 00:00:00+00,ConfirmedCovidCases,1
2,-856335.869598,7.036492e+06,2020/03/04 00:00:00+00,ConfirmedCovidCases,4
3,-856335.869598,7.036492e+06,2020/03/05 00:00:00+00,ConfirmedCovidCases,7
4,-856335.869598,7.036492e+06,2020/03/06 00:00:00+00,ConfirmedCovidCases,5
5,-856335.869598,7.036492e+06,2020/03/07 00:00:00+00,ConfirmedCovidCases,1
6,-856335.869598,7.036492e+06,2020/03/08 00:00:00+00,ConfirmedCovidCases,2
7,-856335.869598,7.036492e+06,2020/03/09 00:00:00+00,ConfirmedCovidCases,3
8,-856335.869598,7.036492e+06,2020/03/10 00:00:00+00,ConfirmedCovidCases,10
9,-856335.869598,7.036492e+06,2020/03/11 00:00:00+00,ConfirmedCovidCases,9

# Hospitalisations

In [6]:
hospitalised_df = df[df['column'].str.contains("Hospitalised")]
hospitalised_df.head()

,X,Y,Date,column,cases
3864,-856335.869598,7.036492e+06,2020/02/29 00:00:00+00,HospitalisedCovidCases,NaN
3865,-856335.869598,7.036492e+06,2020/03/03 00:00:00+00,HospitalisedCovidCases,NaN
3866,-856335.869598,7.036492e+06,2020/03/04 00:00:00+00,HospitalisedCovidCases,0.0
3867,-856335.869598,7.036492e+06,2020/03/05 00:00:00+00,HospitalisedCovidCases,1.0
3868,-856335.869598,7.036492e+06,2020/03/06 00:00:00+00,HospitalisedCovidCases,4.0

In [7]:
hospitalised_df['column'].unique()

array(['HospitalisedCovidCases', 'HospitalisedAged5',
       'HospitalisedAged5to14', 'HospitalisedAged15to24',
       'HospitalisedAged25to34', 'HospitalisedAged35to44',
       'HospitalisedAged45to54', 'HospitalisedAged55to64',
       'HospitalisedAged65to74', 'HospitalisedAged75to84',
       'HospitalisedAged85up'], dtype=object)

In [8]:
hospitalised_df.iloc[:,3] = hospitalised_df.iloc[:,3].str.lstrip("Hospitalised")

C:\Users\Karina\miniconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [9]:
hospitalised_df['column'].tail()

22535    Aged85up
22536    Aged85up
22537    Aged85up
22538    Aged85up
22539    Aged85up
Name: column, dtype: object

In [10]:
hospitalised_df['column'].unique()

array(['CovidCases', 'Aged5', 'Aged5to14', 'Aged15to24', 'Aged25to34',
       'Aged35to44', 'Aged45to54', 'Aged55to64', 'Aged65to74',
       'Aged75to84', 'Aged85up'], dtype=object)

In [11]:
test = "Aged5to14"

match = re.search("(\D+)(\d+)(\D{2})(\d{2})", test)
print(match[0])
print(match[1]) # Aged
print(match[2]) # 5
print(match[3]) # to
print(match[4]) # 14
print()

Aged5to14
Aged
5
to
14

In [12]:
hospitalised_df["column"]

3864     CovidCases
3865     CovidCases
3866     CovidCases
3867     CovidCases
3868     CovidCases
            ...
22535      Aged85up
22536      Aged85up
22537      Aged85up
22538      Aged85up
22539      Aged85up
Name: column, Length: 7084, dtype: object

In [13]:
tmp_df = hospitalised_df["column"].str.extract("(\D+)(\d+)(\D{2})(\d{2})", expand=False)    


# Name columns
tmp_df.columns = ["Aged", "age_lower","to", "age_upper"]

# Create `age`column based on `age_lower` and `age_upper`
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

tmp_df.head(15)

     Aged age_lower   to age_upper  age
3864  NaN       NaN  NaN       NaN  NaN
3865  NaN       NaN  NaN       NaN  NaN
3866  NaN       NaN  NaN       NaN  NaN
3867  NaN       NaN  NaN       NaN  NaN
3868  NaN       NaN  NaN       NaN  NaN
3869  NaN       NaN  NaN       NaN  NaN
3870  NaN       NaN  NaN       NaN  NaN
3871  NaN       NaN  NaN       NaN  NaN
3872  NaN       NaN  NaN       NaN  NaN
3873  NaN       NaN  NaN       NaN  NaN
3874  NaN       NaN  NaN       NaN  NaN
3875  NaN       NaN  NaN       NaN  NaN
3876  NaN       NaN  NaN       NaN  NaN
3877  NaN       NaN  NaN       NaN  NaN
3878  NaN       NaN  NaN       NaN  NaN

In [14]:
# Merge 
hospitalised_df = pd.concat([hospitalised_df, tmp_df], axis=1)

# Drop unnecessary columns and rows
hospitalised_df = hospitalised_df.drop(['column',"Aged","age_lower","to","age_upper" ], axis=1)
hospitalised_df = hospitalised_df.dropna()
hospitalised_df = hospitalised_df.sort_values(ascending = True,by = ["Date"])
hospitalised_df["cases"] = hospitalised_df["cases"].astype(int)
hospitalised_df.head(25)

                   X             Y                    Date  cases    age
7086  -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0   5-14
8374  -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  25-34
9018  -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  35-44
9662  -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  45-54
10306 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  55-64
20610 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  65-74
21254 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  75-84
7730  -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  15-24
8375  -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  25-34
9663  -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      1  45-54
10307 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  55-64
21255 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  75-84
9019  -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  35-44
20611 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  65-74
7087  -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0   5-14
7731  -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  15-24
20612 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0  65-74
7088  -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      1   5-14
8376  -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0  25-34
9020  -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      2  35-44
21256 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0  75-84
7732  -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0  15-24
9664  -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      1  45-54
10308 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0  55-64
21257 -856335.869598  7.036492e+06  2020/03/07 00:00:00+00      0  75-84

# Ages

In [15]:
aged_df = df[df["column"].str.contains("^Aged")]

In [16]:
aged_df.head()

                   X             Y                    Date    column cases
12880 -856335.869598  7.036492e+06  2020/02/29 00:00:00+00  Aged1to4   NaN
12881 -856335.869598  7.036492e+06  2020/03/03 00:00:00+00  Aged1to4   NaN
12882 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00  Aged1to4   0.0
12883 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00  Aged1to4   0.0
12884 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00  Aged1to4   0.0

In [17]:
aged_df["column"].unique()

array(['Aged1to4', 'Aged5to14', 'Aged15to24', 'Aged25to34', 'Aged35to44',
       'Aged45to54', 'Aged55to64', 'Aged65to74', 'Aged75to84', 'Aged85up'],
      dtype=object)

In [18]:
test = "Aged1to4"

match = re.search("(\D+)(\d+)(\D{2})(\d)", test)
print(match[0])
print(match[1]) # Aged
print(match[2]) # number 
print(match[3]) # to
print(match[4]) # number
print()



test = "Aged35to44"

match = re.search("(\D+)(\d+)(\D{2})(\d)", test)
print(match[0])
print(match[1]) # Aged
print(match[2]) # number 
print(match[3]) # to
print(match[4]) # number
print()

Aged1to4
Aged
1
to
4

Aged35to4
Aged
35
to
4

In [19]:
tmp_df = aged_df["column"].str.extract("(\D+)(\d+)(\D{2})(\d)", expand=False)    


# Name columns
tmp_df.columns = ["Aged", "age_lower","to", "age_upper"]

# Create `age`column based on `age_lower` and `age_upper`
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

tmp_df.head(15)

       Aged age_lower  to age_upper  age
12880  Aged         1  to         4  1-4
12881  Aged         1  to         4  1-4
12882  Aged         1  to         4  1-4
12883  Aged         1  to         4  1-4
12884  Aged         1  to         4  1-4
12885  Aged         1  to         4  1-4
12886  Aged         1  to         4  1-4
12887  Aged         1  to         4  1-4
12888  Aged         1  to         4  1-4
12889  Aged         1  to         4  1-4
12890  Aged         1  to         4  1-4
12891  Aged         1  to         4  1-4
12892  Aged         1  to         4  1-4
12893  Aged         1  to         4  1-4
12894  Aged         1  to         4  1-4

In [20]:
# Merge 
aged_df = pd.concat([aged_df, tmp_df], axis=1)

# Drop unnecessary columns and rows
aged_df = aged_df.drop(['column',"Aged","age_lower","to","age_upper" ], axis=1)
aged_df = aged_df.dropna()
aged_df = aged_df.sort_values(ascending = True,by = ["Date"])
aged_df["cases"] = aged_df["cases"].astype(int)
aged_df.head(25)

                   X             Y                    Date  cases   age
12882 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0   1-4
16746 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  55-6
16102 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  45-5
15458 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  35-4
23186 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  75-8
14170 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  15-2
22542 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  65-7
13526 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      1   5-1
14814 -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      0  25-3
14815 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  25-3
15459 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  35-4
23187 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  75-8
22543 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  65-7
12883 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0   1-4
14171 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  15-2
16103 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      1  45-5
16747 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      0  55-6
13527 -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      1   5-1
23188 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0  75-8
12884 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0   1-4
16104 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      1  45-5
13528 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      2   5-1
14172 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0  15-2
15460 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      2  35-4
22544 -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      0  65-7

# Getting dates and locations together

In [21]:
cols = ["X", "Y", "Date"]
cols = df[cols].drop_duplicates()
cols = cols.reset_index(drop=True)
cols["index"] = cols.index
cols.head(25)

                X             Y                    Date  index
0  -856335.869598  7.036492e+06  2020/02/29 00:00:00+00      0
1  -856335.869598  7.036492e+06  2020/03/03 00:00:00+00      1
2  -856335.869598  7.036492e+06  2020/03/04 00:00:00+00      2
3  -856335.869598  7.036492e+06  2020/03/05 00:00:00+00      3
4  -856335.869598  7.036492e+06  2020/03/06 00:00:00+00      4
5  -856335.869598  7.036492e+06  2020/03/07 00:00:00+00      5
6  -856335.869598  7.036492e+06  2020/03/08 00:00:00+00      6
7  -856335.869598  7.036492e+06  2020/03/09 00:00:00+00      7
8  -856335.869598  7.036492e+06  2020/03/10 00:00:00+00      8
9  -856335.869598  7.036492e+06  2020/03/11 00:00:00+00      9
10 -856335.869598  7.036492e+06  2020/03/12 00:00:00+00     10
11 -856335.869598  7.036492e+06  2020/03/13 00:00:00+00     11
12 -856335.869598  7.036492e+06  2020/03/14 00:00:00+00     12
13 -856335.869598  7.036492e+06  2020/03/15 00:00:00+00     13
14 -856335.869598  7.036492e+06  2020/03/16 00:00:00+00     14
15 -856335.869598  7.036492e+06  2020/03/17 00:00:00+00     15
16 -856335.869598  7.036492e+06  2020/03/18 00:00:00+00     16
17 -856335.869598  7.036492e+06  2020/03/19 00:00:00+00     17
18 -856335.869598  7.036492e+06  2020/03/20 00:00:00+00     18
19 -856335.869598  7.036492e+06  2020/03/21 00:00:00+00     19
20 -856335.869598  7.036492e+06  2020/03/22 00:00:00+00     20
21 -856335.869598  7.036492e+06  2020/03/23 00:00:00+00     21
22 -856335.869598  7.036492e+06  2020/03/24 00:00:00+00     22
23 -856335.869598  7.036492e+06  2020/03/25 00:00:00+00     23
24 -856335.869598  7.036492e+06  2020/03/26 00:00:00+00     24

In [22]:
cols.count()

X        644
Y        644
Date     644
index    644
dtype: int64

In [23]:
aged_df = pd.merge(aged_df, cols, on=["X", "Y", "Date"])
aged_df = aged_df[["index", "cases","age"]]
aged_df.head(25)

    index  cases   age
0       2      0   1-4
1       2      0  55-6
2       2      0  45-5
3       2      0  35-4
4       2      0  75-8
5       2      0  15-2
6       2      0  65-7
7       2      1   5-1
8       2      0  25-3
9       3      0  25-3
10      3      0  35-4
11      3      0  75-8
12      3      0  65-7
13      3      0   1-4
14      3      0  15-2
15      3      1  45-5
16      3      0  55-6
17      3      1   5-1
18      4      0  75-8
19      4      0   1-4
20      4      1  45-5
21      4      2   5-1
22      4      0  15-2
23      4      2  35-4
24      4      0  65-7

In [24]:
hospitalised_df = pd.merge(hospitalised_df, cols, on=["X", "Y", "Date"])
hospitalised_df = hospitalised_df[["index", "cases","age"]]
hospitalised_df.head(25)

    index  cases    age
0       2      0   5-14
1       2      0  25-34
2       2      0  35-44
3       2      0  45-54
4       2      0  55-64
5       2      0  65-74
6       2      0  75-84
7       2      0  15-24
8       3      0  25-34
9       3      1  45-54
10      3      0  55-64
11      3      0  75-84
12      3      0  35-44
13      3      0  65-74
14      3      0   5-14
15      3      0  15-24
16      4      0  65-74
17      4      1   5-14
18      4      0  25-34
19      4      2  35-44
20      4      0  75-84
21      4      0  15-24
22      4      1  45-54
23      4      0  55-64
24      5      0  75-84

In [ ]:
#df.to_csv(r"df.csv", index =  False)