# Assignment 3


- Student Name: Karina Jonina
- Student ID: c00278440

- Module Name: Programming for Data Scientists
- Module Code: PROGC5201
- Module Leader: Paul Barry

- Course Name: 		Master of Science in Data Science
- Course Code:		 CW_KCDAR_M Y5

- Due Date: 10th January 2022 9:00am

In [ ]:
import pandas as pd
import datetime
from os import listdir
from os.path import isfile, join
import glob
import re
from datetime import datetime

In [ ]:
# gettting the CSV from the website
url = 'https://opendata-geohive.hub.arcgis.com/datasets/d8eb52d56273413b84b0187a4e9117be_0.csv?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D.'
# url = 'COVID-19.csv'
df = pd.read_csv(url)

In [ ]:
# Ensuring the Date is just date, and not datetime
df['Date'] = pd.to_datetime(df['Date']).dt.date
df.head()

In [ ]:
# examining columns and rows
df.shape

In [ ]:
# checking type for each column
df.info()

In [ ]:
# examining the names of the columns
df.columns

## Examining location
Below exploration showed that there are no unique locations in the dataset and therefore, redundant.

In [ ]:
df['X'].unique()

In [ ]:
df['Y'].unique()

In [ ]:
df['CommunityTransmission'].unique()

In [ ]:
df['CloseContact'].unique()

In [ ]:
df['TravelAbroad'].unique()

### Dropping Columns (X and Y)

| Column | Reason |
|---|---|
| df['X'] | no unique values |
| df['Y'] | no unique values |
| df['StatisticsProfileDate'] | Very similar to df['Date']|
| df['CovidCasesConfirmed'] | Very similar to df['Total Confirmed Covid Cases'] |
| df['FID'] | very similar to Index in pandas |
| df['CommunityTransmission'] | no unique values |
| df['CloseContact'] | no unique values |
| df['TravelAbroad'] | no unique values |

In [ ]:
# Dropping irrelevant columns
df = df.drop(columns = ['X','Y','CovidCasesConfirmed','StatisticsProfileDate', 'FID', 
                        'CommunityTransmission', 'CloseContact','TravelAbroad'])

## Examining date
Below exploration showed that there are are unique dates in the dataset.

In [ ]:
df['Date'].unique()

## Melting

In [ ]:
# Melting
id_vars = ["Date"]

df = pd.melt(frame=df,id_vars=id_vars, var_name="Column", value_name="Cases")

df.head(10)

# Getting the final dataset

In [ ]:
# # Trying to get OR working
# tmp_df = df["Column"].str.extract("(\D+)(\d+)(\D{2})(\d{2}) | (\D+)(\d{2}) | (\D+)(\d+)(\D{2})", expand=False)    

# print(tmp_df)

In [ ]:
tmp_df = df["Column"].str.extract("(\D+)(\d+)(\D{2})(\d{2})", expand=False)    

# Name columns
tmp_df.columns = ["Aged", "age_lower","to", "age_upper"]

# Create `age`column based on `age_lower` and `age_upper`
tmp_df["Age_Range"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

tmp_df.head(15)

In [ ]:
# Merge 
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns and rows
df = df.drop(["age_lower","to","age_upper" ], axis=1)

# sorting data by date
df = df.sort_values(ascending = True, by = ["Date"])

# reseting the dataframe index
df = df.reset_index()

In [ ]:
df["Column"].unique()

In [ ]:
df = df [[
    "Date",
    "Column",
    "Age_Range",
    "Cases"
]]

In [ ]:
df.head()

In [ ]:
# checking that 'HospitalisedAged5' with have 5
df[df["Column"] =='HospitalisedAged5'].head()

In [ ]:
# checking that 'HospitalisedAged85up' with have 85
df[df["Column"] =='HospitalisedAged85up'].head()

### Dropping rows with NaN in cases

In [ ]:
df1 = df.copy()

In [ ]:
df1.head(20)

In [ ]:
df1 = df1[~df1['Cases'].isna()]
df1["Cases"] = df1["Cases"].astype(int)
# reseting the dataframe index
df1 = df1.reset_index(drop = True)

In [ ]:
df1.head()

In [ ]:
df1.shape

### Dealing with ['Column'] column

In [ ]:
# Testing the regular expression
line = 'HospitalisedAged45to54'
match = re.findall('([A-Z][a-z]+)', line)
new_line = match[0] + " " + match[1] 
print(new_line)

In [ ]:
column_list = []
for i in  df1["Column"]:
    match = re.findall('([A-Z][a-z]+)', i)
    if len(match) == 4:
        new_line = match[0] + ' ' + match[1] + ' ' + match[2] + ' ' + match[3]
    elif len(match) == 3:
        new_line = match[0] + ' ' + match[1] + ' ' + match[2]
    elif len(match) == 2:
        new_line = match[0] + ' ' + match[1] 
    else:
        new_line = match[0]

    column_list.append(new_line)

# examining the list
print(column_list)

In [ ]:
column_list = pd.Series(column_list)
column_list = column_list.reset_index()

In [ ]:
df1 = pd.merge(df1, column_list, left_index = True, right_index = True)

In [ ]:
df1 = df1.rename(columns={'Column': "old_column", 0 : "Column"})

In [ ]:
df1 = df1[[
    "Date",
    "old_column",
    "Column",
    "Age_Range",
    "Cases"
]]

In [ ]:
df1.head()

### Daily Cases

In [ ]:
hospitalised_df = df1[df1['Column'].str.contains("Hospitalised Aged")]
age_range_65up = hospitalised_df[hospitalised_df['Age_Range'] == '65-74']
age_range_65up.tail(10)

In [ ]:
age_list = df1['Age_Range'].unique()

# removing NaN from the dataset
age_list = age_list[1:]
print(age_list)

In [ ]:
aged_df = df1[df1['Column'].str.startswith("Aged")]

# dropping all NaN in hospitalised_df 
hospitalised_df = hospitalised_df[~hospitalised_df['Age_Range'].isna()]

# dropping all NaN in aged_df
aged_df = aged_df[~aged_df['Age_Range'].isna()]

# dropping all NaN in df1
new_df1 = df1[~df1['Column'].isna()]

In [ ]:
aged_df.head()

### Columns that are Not Accumulated
'Confirmed Covid Cases', 'Total Confirmed Covid Cases','Confirmed Covid Deaths', 'Total Covid Deaths',

In [ ]:
df1['Column'].unique()

In [ ]:
column_list = df1['Column'].unique()
column_list

In [ ]:
# Columns that have accumulated cases and no daily cases count 
accumulated = ['Male','Hospitalised Covid Cases', 'Hospitalised Aged', 
               'Healthcare Workers Covid Cases', 'Aged', 'Unknown', 'Female',
               'Median Age', 'Requiring Covid Cases', 'Clusters Notified']

In [ ]:
df1_list = []

for i in column_list:
    if "Hospitalised Aged" == i: 
        for age in age_list:
            df1 = hospitalised_df[hospitalised_df['Age_Range'].str.contains(age)]
            df1 = pd.DataFrame(df1)
            df1['Daily Cases'] = df1['Cases'].diff(1)
            df1 = df1.dropna()
            df1["Daily Cases"] = df1["Daily Cases"].astype(int)
            df1_list.append(df1)
        
    elif "Aged" == i: 
        for age in age_list:
            df1 = aged_df[aged_df['Age_Range'].str.contains(age)]
            df1 = pd.DataFrame(df1)
            df1['Daily Cases'] = df1['Cases'].diff(1)
            df1 = df1.dropna()
            df1["Daily Cases"] = df1["Daily Cases"].astype(int)
            df1_list.append(df1)
    
    elif  i in accumulated:
        df1 = new_df1[new_df1['Column'].str.contains(i)]
        df1 = pd.DataFrame(df1)
        df1['Daily Cases'] = df1['Cases'].diff(1)
#         df1 = df1.dropna()
#         df1["Daily Cases"] = df1["Daily Cases"].astype(int)
        df1_list.append(df1)
    else:
        df1 = df1[df1['Column'].str.contains(i)]
        df1 = pd.DataFrame(df1)
        df1['Daily Cases'] = 'NaN'
#         df1 = df1.dropna()
#         df1["Daily Cases"] = df1["Daily Cases"].astype(int)
        df1_list.append(df1)

In [ ]:
df1 =  pd.concat(df1_list)

In [ ]:
# sorting data by date
df1 = df1.sort_values(ascending = True, by = ["Date"])

# reseting the dataframe index
df1 = df1.reset_index(drop=True)

In [ ]:
df1.head(50)

In [ ]:
df1.tail(50)

### Saving to a new csv file

In [ ]:
df1.to_csv(r"tidy_data_df.csv", index =  False)