# Assignment 3


- Student Name: Karina Jonina
- Student ID: c00278440

- Module Name: Programming for Data Scientists
- Module Code: PROGC5201
- Module Leader: Paul Barry

- Course Name: 		Master of Science in Data Science
- Course Code:		 CW_KCDAR_M Y5

- Due Date: 10th January 2022 9:00am

In [11]:
import pandas as pd
import datetime
from datetime import datetime
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [12]:
# reading in the tidy data csv
df = pd.read_csv('tidy_data_df.csv', parse_dates = ['Date'])

### Checking tidy_data_df dataframe

In [13]:
df.head()

,Date,old_column,Column,Age_Range,Cases,Daily Cases,Diff
0,2020-02-29,ConfirmedCovidCases,Confirmed Covid Cases,NaN,1,NaN,NaN
1,2020-02-29,TotalConfirmedCovidCases,Total Confirmed Covid Cases,NaN,1,NaN,NaN
2,2020-02-29,ConfirmedCovidDeaths,Confirmed Covid Deaths,NaN,0,-610855.0,-614858.0
3,2020-02-29,TotalCovidDeaths,Total Covid Deaths,NaN,0,NaN,NaN
4,2020-02-29,TotalCovidDeaths,Total Covid Deaths,NaN,0,-81.0,-107.0

In [14]:
df.shape

(49261, 7)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49261 entries, 0 to 49260
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         49261 non-null  datetime64[ns]
 1   old_column   49261 non-null  object
 2   Column       49261 non-null  object
 3   Age_Range    25840 non-null  object
 4   Cases        49261 non-null  int64
 5   Daily Cases  46160 non-null  float64
 6   Diff         49237 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 2.6+ MB

In [16]:
df['Column'].unique()

array(['Confirmed Covid Cases', 'Total Confirmed Covid Cases',
       'Confirmed Covid Deaths', 'Total Covid Deaths', 'Median Age',
       'Hospitalised Aged', 'Female', 'Aged', 'Requiring Covid Cases',
       'Hospitalised Covid Cases', 'Male', 'Unknown',
       'Healthcare Workers Covid Cases', 'Clusters Notified'],
      dtype=object)

In [17]:
df['Age_Range'].unique()

array([nan, '75-84', '1-4', '0-45-64', '25-34', '0-4-14', '5-14', '55-64',
       '35-44', '15-24', '65-74', '85+', '0-4', '45-54'], dtype=object)

In [18]:
df['Column'] = df['Column'].astype('category')
df['old_column'] = df['old_column'].astype('category')
df['Age_Range'] = df['Age_Range'].astype('category')

df['Age_Range'] = df['Age_Range'].cat.reorder_categories(
    ['0-4','5-14','15-24', '25-34', '35-44', '45-54', '55-64','65-74', '75-84','85+'], ordered=True)

ValueError: items in new_categories are not the same as in old categories

In [19]:

df['Date'] = df['Date'].astype(str)

df['Date'] = pd.to_datetime(df['Date'], errors='ignore', format='%Y-%B-%d')

In [20]:
# replacing all Nan with 0
df['Daily Cases'] = df['Daily Cases'].fillna(0)
df['Diff'] = df['Diff'].fillna(0)

#changing the 0.0 to 0
df['Daily Cases'] = df['Daily Cases'].astype(int)
df['Diff'] = df['Diff'].astype(int)

df.head()

,Date,old_column,Column,Age_Range,Cases,Daily Cases,Diff
0,2020-02-29,ConfirmedCovidCases,Confirmed Covid Cases,NaN,1,0,0
1,2020-02-29,TotalConfirmedCovidCases,Total Confirmed Covid Cases,NaN,1,0,0
2,2020-02-29,ConfirmedCovidDeaths,Confirmed Covid Deaths,NaN,0,-610855,-614858
3,2020-02-29,TotalCovidDeaths,Total Covid Deaths,NaN,0,0,0
4,2020-02-29,TotalCovidDeaths,Total Covid Deaths,NaN,0,-81,-107

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49261 entries, 0 to 49260
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         49261 non-null  object
 1   old_column   49261 non-null  category
 2   Column       49261 non-null  category
 3   Age_Range    25840 non-null  category
 4   Cases        49261 non-null  int64
 5   Daily Cases  49261 non-null  int32
 6   Diff         49261 non-null  int32
dtypes: category(3), int32(2), int64(1), object(1)
memory usage: 1.3+ MB

### Creating New Dataset

###### Dataset for Confirmed Covid Cases with Age Range

In [22]:
aged_df = df[df['Column'].str.startswith("Aged")]

In [25]:
aged_df[aged_df['Age_Range'].isna()]

Empty DataFrame
Columns: [Date, old_column, Column, Age_Range, Accumulated Cases, Daily Cases, Diff]
Index: []

In [26]:
aged_df = aged_df.rename(columns={'Cases': 'Accumulated Cases'})
aged_df.tail()

,Date,old_column,Column,Age_Range,Accumulated Cases,Daily Cases,Diff
49235,2021-12-09,Aged45to54,Aged,45-54,78143,552,-235
49236,2021-12-09,Aged25to34,Aged,25-34,98686,639,-173
49237,2021-12-09,Aged85up,Aged,85+,9834,8,-10
49243,2021-12-09,Aged65to74,Aged,65-74,30747,138,-68
49246,2021-12-09,Aged35to44,Aged,35-44,97936,786,-267

###### Dataset for Hospitalised Covid Cases with Age Range

In [27]:
hospitalised_df = df[df['Column'].str.contains("Hospitalised Aged")]

In [28]:
# column cases actually represents accumulated cases
hospitalised_df = hospitalised_df.rename(columns={'Cases': 'Accumulated Cases'})

hospitalised_df.head()

,Date,old_column,Column,Age_Range,Accumulated Cases,Daily Cases,Diff
27,2020-03-04,HospitalisedAged75to84,Hospitalised Aged,75-84,0,-3573,-3577
31,2020-03-04,HospitalisedAged55to64,Hospitalised Aged,0-45-64,0,-2423,-2428
32,2020-03-04,HospitalisedAged25to34,Hospitalised Aged,25-34,0,-1042,-1046
34,2020-03-04,HospitalisedAged5to14,Hospitalised Aged,0-4-14,0,-425,-426
48,2020-03-04,HospitalisedAged15to24,Hospitalised Aged,15-24,0,-315,-319

###### Dataset for Confirmed Covid Cases Hospitalised Covid Cases with Age Range

In [ ]:
aged_and_hospitalised_df = df[df['Column'].str.contains("Aged")]

In [ ]:
# column cases actually represents accumulated cases
aged_and_hospitalised_df = aged_and_hospitalised_df.rename(columns={'Cases': 'Accumulated Cases'})

aged_and_hospitalised_df.tail()

###### Dataset for Confirmed Covid Cases (NO AGE_RANGE)

In [ ]:
confirmed_cc_df = df[df['Column'].str.startswith("Confirmed Covid Cases")]

# in this dataset, the age range is empty
confirmed_cc_df = confirmed_cc_df.drop(columns = ['old_column','Age_Range', 'Daily Cases'])

# column cases actually represents accumulated cases
confirmed_cc_df = confirmed_cc_df.rename(columns={'Cases': 'Daily Cases'})
confirmed_cc_df.tail(10)

###### Dataset for Hospitalised Covid Cases (NO AGE_RANGE)

In [ ]:
hospital_cc_df = df[df['Column'].str.contains("Hospitalised Covid Cases")]

# in this dataset, the age range is empty
hospital_cc_df = hospital_cc_df.drop(columns = ['old_column','Age_Range'])

# column cases actually represents accumulated cases
hospital_cc_df = hospital_cc_df.rename(columns={'Cases': 'Accumulated Cases'})
hospital_cc_df.tail(10)

###### Dataset for Covid Cases Requiring ICU

In [ ]:
icu_cc_df = df[df['Column'].str.contains("Requiring")]

# in this dataset, the age range is empty
icu_cc_df = icu_cc_df.drop(columns = ['old_column','Age_Range'])

# column cases actually represents accumulated cases
icu_cc_df = icu_cc_df.rename(columns={'Cases': 'Accumulated Cases'})
icu_cc_df.tail(10)

###### Dataset for Median Age

In [ ]:
median_age_df = df[df['Column'].str.contains("Median Age")]

# in this dataset, the age range is empty
median_age_df = median_age_df.drop(columns = ['Age_Range','old_column', 'Daily Cases','Diff'])

# column cases actually represents accumulated cases
median_age_df = median_age_df.rename(columns={'Cases': 'Median Age'})
median_age_df.tail()

### Plotly Graph 1

In [ ]:
fig = go.Figure()

age = go.Scatter(x = confirmed_cc_df['Date'],
                             y = confirmed_cc_df['Daily Cases'],
                             name = 'Daily Cases',
                             mode = 'lines',
                             customdata = confirmed_cc_df['Column'],
                             hovertemplate = "<b>%{customdata}</b><br><br>" +
                                            "Date: %{x|%d %b %Y} <br>" +
                                            "Covid-19 Cases: %{y:,.}<br>"+
                                             "<extra></extra>",
                             line = dict(color = "blue"))

hospitalisation = go.Scatter(x = hospital_cc_df['Date'],
                             y = hospital_cc_df['Daily Cases'],
                             name = 'Daily Hospitalisation with Covid',
                             mode = 'lines',
                             customdata = hospital_cc_df['Column'],
                             hovertemplate = "<b>%{customdata}</b><br><br>" +
                                            "Date: %{x|%d %b %Y} <br>" +
                                            "Daily Hospitalisation with Covid: %{y:,.}<br>"+
                                             "<extra></extra>",
                             line = dict(color = "red"))

icu = go.Scatter(x = icu_cc_df['Date'],
                             y = icu_cc_df['Daily Cases'],
                             name = 'Daily ICU Numbers',
                             mode = 'lines',
                             customdata = icu_cc_df['Column'],
                             hovertemplate = "<b>%{customdata}</b><br><br>" +
                                            "Date: %{x|%d %b %Y} <br>" +
                                            "Daily Hospitalisation with Covid: %{y:,.}<br>"+
                                             "<extra></extra>",
                             line = dict(color = "black"))

data = [age, hospitalisation, icu]

layout = dict(
    title = 'Covid-19 Cases',
    yaxis_title = 'Covid-19 Cases',
    autosize = False, width = 800, height = 600,
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                            dict(count = 7, step = "day", stepmode = "backward", label = "1W"),
                            dict(count = 1, step = "month", stepmode = "backward", label = "1M"),
                            dict(count = 3, step = "month", stepmode = "backward", label = "3M"),
                            dict(count = 6, step = "month", stepmode = "backward", label = "6M"),
                            dict(count = 1, step = "year", stepmode = "backward", label = "1Y"),
                            dict(count = 2, step = "year", stepmode = "backward", label = "2Y"),
                            dict(count = 5, step = "year", stepmode = "backward", label = "5Y"),
                            dict(count = 1, step = "all", stepmode = "backward", label = "MAX"),
                            dict(count = 1, step = "year", stepmode = "todate", label = "YTD")])
        ),
        rangeslider=dict(
            visible = True
        ),
        type='date'
    )
)

fig = go.FigureWidget(data=data, layout=layout)
# fig.update_layout(showlegend=False)
fig.update_layout(legend=dict(
    orientation="h",
    yanchor="bottom",
    y=-0.5,
    xanchor="right",
    x=1
))



fig.show()

### Plotly Graph 2

In [ ]:
age_list = ['0-4','5-14','15-24', '25-34', '35-44', '45-54', '55-64','65-74', '75-84','85+']


fig = make_subplots(rows=4, cols=1, shared_xaxes=True, subplot_titles=[
        'Covid Cases in Age Range',
        'Hospitalisation with Covid Cases in Age Range'])

# Loop through the suburbs
for age in age_list:
  	# Subset the DataFrame

    new_aged_df = aged_df[aged_df['Age_Range'] == age]
    # Add a trace for each suburb subset
    fig.add_trace(go.Scatter(
                x=new_aged_df['Date'],
                y=new_aged_df['Daily Cases'],
                name=age, 
                mode='lines',
                customdata = new_aged_df['Age_Range'],
                hovertemplate="<b>Age Range: %{customdata}</b><br><br>" +
                                    "Date: %{x|%d %b %Y} <br>" +
                                    "Daily Covid-19 Cases: %{y:,.}<br>"+
                                    "<extra></extra>"), row = 1, col = 1)

# Loop through the suburbs
for age in age_list:
    
  	# Subset the DataFrame
    new_h_df = hospitalised_df[hospitalised_df['Age_Range'] == age]
    # Add a trace for each suburb subset
    fig.add_trace(go.Scatter(
                x=new_h_df['Date'],
                y=new_h_df['Daily Cases'],
                name=age, 
                mode='lines',
                customdata = new_h_df['Age_Range'],
                hovertemplate="<b>Age Range: %{customdata}</b><br><br>" +
                                    "Date: %{x|%d %b %Y} <br>" +
                                    "Hospitalised Covid-19 Cases: %{y:,.}<br>"+
                                    "<extra></extra>"), row = 2, col = 1)


# Create the buttons
dropdown_buttons = [
{'label': "0-4", 'method': 'update', 'args': [{"visible": [True, False, False, False, 
                                                            False, False, False, False, True]}, 
                                              {"title": "0-4"}]},
{'label': "5-14", 'method': 'update', 'args': [{"visible": [False,True, False, False, 
                                                            False, False, False, False, False]}, 
                                               {"title": "5-15"}]},
{'label': "15-24", 'method': 'update', 'args': [{"visible": [False,False, True, False, 
                                                             False, False, False, False, False]}, 
                                                {"title": "15-14"}]},
{'label': "25-34", 'method': 'update', 'args': [{"visible": [False,False, False, True, 
                                                             False, False, False, False, False]}, 
                                                {"title": "25-34"}]},
{'label': "35-44", 'method': 'update', 'args': [{"visible": [False,False, False, False, 
                                                             True, False, False, False, False]}, 
                                                {"title": "35-44"}]},
{'label': "45-54", 'method': 'update', 'args': [{"visible": [False, False, False, False, 
                                                             False, True, False, False, False]}, 
                                                {"title": "45-54"}]},
{'label': "55-64", 'method': 'update', 'args': [{"visible": [False, False, False, False, 
                                                             False, False, True, False, False]}, 
                                                {"title": "55-64"}]},
{'label': "65-74", 'method': 'update', 'args': [{"visible": [False, False, False, False, 
                                                             False, False, False, True, False]}, 
                                                {"title": "65-74"}]},
{'label': "75-84", 'method': 'update', 'args': [{"visible": [False, False, False, False, 
                                                             False, False, False, False, True]}, 
                                                {"title": "75-84"}]},
{'label': "85+", 'method': 'update', 'args': [{"visible": [False,False, False, False, 
                                                            False, False, False, False, True]}, 
                                              {"title": "85+"}]},
]

fig.update_layout(
    title = 'Hospitalised Covid Cases for each Age Range',
    yaxis_title = 'Daily Cases',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                            dict(count = 7, step = "day", stepmode = "backward", label = "1W"),
                            dict(count = 1, step = "month", stepmode = "backward", label = "1M"),
                            dict(count = 3, step = "month", stepmode = "backward", label = "3M"),
                            dict(count = 6, step = "month", stepmode = "backward", label = "6M"),
                            dict(count = 1, step = "year", stepmode = "backward", label = "1Y"),
                            dict(count = 1, step = "all", stepmode = "backward", label = "MAX"),
                            dict(count = 1, step = "year", stepmode = "todate", label = "YTD")])
        ),
        rangeslider=dict(
            visible = True
        ),
        type='date'
    ))



fig.update_layout(showlegend=False)
fig.update_layout(xaxis_rangeslider_visible = False)


# Update the figure to add dropdown menu
fig.update_layout({
  		'updatemenus': [{'active': 0, 'buttons': dropdown_buttons}]})

# Show the plot
fig.show()

### Plotly Graph 3 - Bar Columns

In [ ]:
fig = px.bar(aged_and_hospitalised_df, 
             x="Age_Range", 
             y="Daily Cases", 
             color="Column",
             animation_frame="Date", 
             animation_group="Age_Range", 
             range_y=[0,700],
             barmode='group',
            category_orders={"Age_Range": ['0-4','5-14','15-24', '25-34', '35-44', 
                                           '45-54', '55-64','65-74', '75-84','85+']})
fig.show()

### Plotly Graph 4

In [ ]:
# ZOOMING IN
# https://community.plotly.com/t/y-axis-autoscaling-with-x-range-sliders/10245/4
fig = make_subplots(specs=[[{"secondary_y": True}]])


fig.add_trace(go.Bar(x = confirmed_cc_df['Date'],
                y = confirmed_cc_df['Daily Cases'],
                hovertemplate="<b>Confirmed Covid Cases</b><br><br>" +
                                    "Date: %{x|%d %b %Y} <br>" +
                                    "Daily Covid Cases: %{y:,.}<br>"+
                                    "<extra></extra>"), secondary_y = False)

fig.add_trace(go.Scatter(x = median_age_df['Date'],
                             y = median_age_df['Median Age'],
                            hovertemplate="<b>Median Age</b><br><br>" +
                                    "Date: %{x|%d %b %Y} <br>" +
                                    "Median Age: %{y:,.}<br>"+
                                    "<extra></extra>",
                             line = dict(color="blue")), secondary_y = True)


fig.update_xaxes(
    rangeslider_visible = True,
    rangeselector = dict(
        buttons = list([
                        dict(count = 7, step = "day", stepmode = "backward", label = "1W"),
                        dict(count = 1, step = "month", stepmode = "backward", label = "1M"),
                        dict(count = 3, step = "month", stepmode = "backward", label = "3M"),
                        dict(count = 6, step = "month", stepmode = "backward", label = "6M"),
                        dict(count = 1, step = "year", stepmode = "backward", label = "1Y"),
                        dict(count = 1, step = "all", stepmode = "backward", label = "MAX"),
                        dict(count = 1, step = "year", stepmode = "todate", label = "YTD")])))
fig.update_layout(xaxis_rangeslider_visible = False)

# Set y-axes titles
fig.update_yaxes(title_text="Covid-19 Cases", secondary_y=False)
fig.update_yaxes(title_text="Median Age", secondary_y=True)

fig.update_layout(showlegend=False)
# Add title
fig.update_layout(
        title = 'Confirmed Covid Cases and Median Age',
        title_font_size = 20)

fig.show()

### Plotly Graph 5